/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*       COLOR_VARIABLE       */
/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
:root {
  --c-primary: #05b98c;
  --c-primary-light: #61e4c3;
  --c-primary-dark: #277c5c;

  --c-black: #23262c;
  --c-gray-90: #2d303a;
  --c-gray-80: #30363f;
  --c-gray-70: #4f5b6d;
  --c-gray-30: #8c9aac;
  --c-gray-20: #a7aab6;
  --c-gray-10: #c5cfdb;
  --c-gray-05: #e1e5ec;
  --c-white: #fff;

  --c-shadow: #41618844;
  --c-text: var(--c-gray-80);
  --c-back: var(--c-white);
  --c-back-dark: var(--c-gray-05);
  --c-border: var(--c-gray-05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-shadow: #0a0f146b;
    --c-text: var(--c-white);
    --c-back: var(--c-gray-90);
    --c-border: var(--c-black);
  }
}

/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*           RESET            */
/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  width: 240px;
  letter-spacing: 0.05em;
  line-height: 1.75;
  color: var(--c-text);
  background: var(--c-back);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p, ul, ol, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  color: var(--c-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
select,
textarea {
  font: inherit;
}

:disabled {
  cursor: default !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*           STYLE            */
/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
.header {
  background-color: var(--c-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 40px;
  box-shadow: 0 0 8px var(--c-shadow);
}

.header h1 {
  font-size: 1rem;
  color: #fff;
  margin: 4px 0;
}

.body {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 48px;
  grid-auto-rows: minmax(24px, auto);
  grid-gap: 8px;
}

.icon-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: background-color 0.2s;
}

.icon-button:hover {
  background-color: #fff4;
}

.icon-button:active {
  background-color: #fff6;
}

.label {
  align-self: center;
}

.switch {
  appearance: none;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--c-back-dark);
  position: relative;
  transition: background-color 0.2s;
  margin: 4px;
}

.switch:checked {
  background-color: var(--c-primary-light);
}

.switch::after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: -4px;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 2px 4px var(--c-shadow);
}

.switch:checked::after {
  transform: translateX(16px);
  background-color: var(--c-primary);
}