/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*       COLOR_VARIABLE       */
/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
:root {
  --c-primary: #00c853;
  --c-primary_50: #5efc82;
  --c-front: #30363f;
  --c-back: #fff;
  --c-border: #c5cfdb;
  --c-shadow: #0004;
  --c-disabled: #dbe0e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-front: #fff;
    --c-back: #23262c;
    --c-border: #3f4955;
  }
}

/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*           RESET            */
/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  width: 240px;
  letter-spacing: 0.05em;
  line-height: 1.75;
  color: var(--c-front);
  background: var(--c-back);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p, ul, ol, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
  margin: 0;
}

ul {
  list-style-type: circle;
}

hr {
  border: none;
  border-top: 1px solid var(--c-border);
}

a {
  color: var(--c-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
button,
select,
textarea {
  font: inherit;
}

:disabled {
  cursor: default !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
/*           STYLE            */
/*_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
.header {
  background-color: var(--c-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 40px;
}

.header h1 {
  font-size: 1rem;
  color: #fff;
  margin: 4px 0;
}

.body {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 48px;
  grid-auto-rows: minmax(24px, auto);
  grid-gap: 8px;
}

.icon-button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: background-color 0.2s;
}

.icon-button:hover {
  background-color: #fff4;
}

.icon-button:active {
  background-color: #fff6;
}

.label {
  align-self: center;
}

.switch {
  appearance: none;
  width: 40px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--c-disabled);
  position: relative;
  transition: background-color 0.2s;
  margin: 4px;
}

.switch:checked {
  background-color: var(--c-primary_50);
}

.switch::after {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: -4px;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 2px 4px var(--c-shadow);
}

.switch:checked::after {
  transform: translateX(16px);
  background-color: var(--c-primary);
}